<div class="form-group">
    <p>
        <label for="" claas="b4-">Name</label>
        <input type="text" class="form-control" name='nome'>
    </p>
    <p>
        <label for="" claas="b4-">Anno</label>
        <input type="text" class="form-control" name='anno'>
    </p>
    <p>
        <label for="" claas="b4-">Lavoro</label>
        <input type="text" class="form-control" name='lavoro'>
    </p>
    <p>
        <label for="" claas="b4-">Cosa desideri?</label>
        <input type="text" class="form-control" name='fobie'>
    </p>
    <p>
        <button class='btn btn-primary'>Save!</button>
    </p>

</div>